*{
    margin: 0px;
    padding: 0px
}

#first{
    height: 80px;
    width: 200px;
    background-color: red;
}

#second{
    height: 40%;
    width: 60%;
    background-color: blue;
}
